{% extends 'academia/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            {% for field in form.visible_fields %}
            <div class="form-floating mb-3">
                {{ field }}
                <label class="form-label" for="floatingInput {{ field.id_for_label }}">{{ field.label }}</label>   
            </div>
            {% endfor %}
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
                <a href="{% url 'register' %}" class="btn btn-secondary">Cadastrar</a>   
            </div>
        </div>
    </form>
</div>
{% endblock %}